body{
    margin: 0;
    /* padding: 0; */
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 15vh;
    background-color: red;
    
}
.links{
    height: 100%;
    color: white;
    align-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.footer{
    transform: translateY(100%);
    background-color: darkblue;
    height: 15vh;
}
.sidebar{
    background-color: green;
    width: 15vw;
}
.button{
    align-self: center;
    cursor: pointer;
}
